@using RefApp.Web.Common
@model RefApp.Web.Model.Cart.Cart
@if (Model.Lines.Count() > 0)
{
    <small class="navbar-text pr-2">
        <b>Your cart:</b>
        @Model.Lines.Sum(x => x.Quantity) item(s)
        @Model.ComputeTotalValue().ToString("c")
    </small>
}

<a class="btn btn-default btn-xs"
   asp-controller="Cart" asp-action="Index"
   asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
    <i class="fa fa-shopping-cart fa-2x"></i>
</a>
